/* Custom fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared style */
.title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #252432;
}

button {
  background-color: #4e47ff;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  border-radius: 6px;
  padding: 14px 24px;
  transition: 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.03);
  background-color: black;
  box-shadow: 1px 3px 0 gray;
}

/* body  */
body {
  background-color: rgb(241, 243, 246);
  max-width: 1400px;
  margin: 0 auto;
}

/* Header Section */
header {
  background-image: url("./assets//Hero-bg.png");
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #4e47ff;
}

/* Banner */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}

.banner-title {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-style: bold;
  color: #252432;
}

/* Main Section */
main {
  margin: 0 100px;
}

/* Action Section */

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.action-description {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #252432;
}

.action-photo {
  width: 340px;
  height: 265px;
  border-radius: 40px;
}

/* Statictic Section */
.productive {
  background-color: rgba(78, 71, 255, 0.15);
  padding: 22px;
  border-radius: 20px;
}

.productive-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: -10px;
}

.productive-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.productive-bar-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
}

.productive-bar-header {
  font-size: 60px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #4e47ff;
  margin-bottom: 0;
}

.productive-bar-title {
  color: #000000;
  font-size: 14px;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}

/* Review Section */
.review-section {
  margin: 80px 0;
}

.reviews {
  display: flex;
  gap: 16px;
}

.review-header {
  text-align: center;
}

.review-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
}

.review-icons {
  display: flex;
  gap: 3.3px;
}

.review-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.review-details p {
  margin: 3px 0;
}

.review-title {
  font-size: 20px;
  margin: 0px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reviewer-image {
  height: 45px;
  border-radius: 100%;
}

.reviewer-name {
  font-size: 15px;
  margin: 0px;
  color: #4c4c4c;
}

.review-date {
  font-size: 14px;
  color: #757575;
}

/* Contact */
.contact {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  font-family: "Inter", sans-serif;
}

.contact-form {
  width: 50%;
}

.contact-form-title {
  font-size: 70px;
  font-weight: 700;
}

.contact-form label {
  display: block;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
  box-sizing: border-box;
  border: 1px solid rgb(184, 183, 183);
  border-radius: 6px;
  padding: 15px;
  width: 100%;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  height: 100px;
  display: block;
}

.form-submit-button {
  margin-top: 10px;
  width: 100%;
}

/* Footer */
footer {
  padding: 90px 0;
  background-color: #fff;
}

.footer-section {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.footer-title {
  font-family: "Inter", sans-serif;
  color: #4e47ff;
  font-size: 70px;
  font-weight: 800;
  margin: 0;
}

.footer-description {
  color: #8987a1;
}

.footer-menu {
  display: flex;
  gap: 25px;
  font-family: "Inter", sans-serif;
  justify-content: center;
}

.footer-menu a {
  text-decoration: none;
  font-size: 14px;
  color: #8987a1;
}
